@model PBL3Store.Domain.Book
@{
    ViewBag.Title = "BookView";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    var category = ViewBag.Category as List<PBL3Store.Domain.Category>;
}

<h2>Chi tiết</h2>

<table class="table table-bordered" style="font-weight:700">
    <tr>
        <td>Hình ảnh</td>
        <td>Mã Sách</td>
        <td>Tên sách</td>
        <td>Tác Giả</td>
        <td>Doanh mục</td>
        <td>Giá Tiền</td>
        <td>Trạng thái</td>
        <td>Tồn kho</td>
        <td>Mô tả</td>
        <td></td>
    </tr>
    <tr>
        <td><img src="@Model.BookImage" alt="Hình ảnh @Model.BookName" width="100" class="img-fluid" /></td>
        <td>@Model.BookId</td>
        <td>@Model.BookName</td>
        <td>@Model.Author</td>
        <td>@category.FirstOrDefault(x => x.CategoryId == Model.CategoryId).CategoryName</td>
        <td>@Model.Price</td>
        @if (Model.State == true)
        {
            <td>Đang bán</td>
        }
        else
        {
            <td>Đã dừng bán</td>
        }
        <td>@Model.Quantity</td>
        <td>@Html.Raw(Model.Description)</td>
        <td>
            <a href="@Url.Action("EditBook","Admin", new { bookId = Model.BookId})" class="btn btn-outline-info"><i class="far fa-edit"></i></a>
            <a href="@Url.Action("StopSell","Admin", new { bookId = Model.BookId})" class="btn btn-outline-danger"><i class="fas fa-sync-alt"></i></a>
        </td>
    </tr>
</table>