@model PBL3Store.UI.Models.AdminListUserModel
@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    var shippers = ViewBag.Shippers as List<PBL3Store.Domain.Shipper>;
}

<h1>Danh sách user            <a href="#" class="btn btn-outline-success"><i class="fas fa-plus"></i></a></h1>
<table class="table table-bordered" style="font-weight:700">
    <tr>
        <td>Mã User</td>
        <td>UserName</td>
        <td>Email</td>
        <td>Role</td>
        <td>Địa chỉ thường trú</td>
        <td>Trạng thái</td>
        <td>Số điện thoại</td>
        <td>Quê quán</td>
        <td>CMND</td>
        <td>Mã Shipper</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.UserId</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Role.RoleName</td>
            <td>@user.Address</td>
            <td>@user.State.StateName</td>
            <td>@user.Phone</td>
            @if(user.RoleId==2)
            {
                foreach(var shipper in shippers)
                {
                    if(shipper.UserId == user.UserId)
                    {
                    <td>@shipper.HomeTown</td>
                    <td>@shipper.CMND</td>
                    <td>@shipper.ShipperId</td> 
                    }
                }
            }
            else
            {
                <td></td>
                <td></td>
                <td></td>
            }
            <td><a href="@Url.Action("UserDetail","Admin", new { UserId = user.UserId})">Chi tiết user</a></td>
            <td>
                <form action="@Url.Action("BlockUser","Admin")" method="post">
                    <input type="hidden" name="UserId" id="UserId" value="@user.UserId" />

                    @if (user.StateId == 8)
                    {
                        <button class="btn btn-outline-danger">Lock</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-primary">Unlock</button>
                    }
                </form>
                <form>
                    <input type="hidden" name="UserId" id="UserId" value="@user.UserId" />
                    <button class="btn btn-outline-warning">Phân quyền admin</button>
                </form>
            </td>
        </tr>
    }
</table>


