@model PBL3Store.UI.Models.HomeOrderManageModel
@{
    ViewBag.Title = "ListOrder";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    var payment = ViewBag.PaymentMethod as List<PBL3Store.Domain.Payment>;
}

<h1 style="width:100%;">Danh sách các đơn hàng chưa được vận chuyển</h1>
@{
    int j = 0;
}
<div class="row">
    <div class="col-12">
        <table class="border table-bordered col-md-8">
            <tr>
                <td>STT</td>
                <td>Mã đơn hàng</td>
                <td>Mã khách hàng</td>
                <td>Phương thức thanh toán</td>
                <td>Trạng thái</td>
                <td>Shipper</td>
                <td>Ghi chú</td>
                <td>Ngày đặt hàng</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var order in Model.Orders)
            {
                j++;
                <tr>
                    <td>@j</td>
                    <td>@order.OrderId</td>
                    <td><a href="@Url.Action("UserDetail","Admin", new { UserId= order.UserId})" style="text-decoration:none; color: #000000">@order.UserId</a></td>
                    <td>
                        @for (int i = 0; i < payment.Count; i++)
                        {
                            if (payment[i].PaymentId == order.PaymentId)
                            {
                                @payment[i].PaymentName;
                            }
                        }
                    </td>
                    <td>@order.State.StateName</td>
                    @if (order.ShipperId != null)
                    {
                        <td>@order.Shipper.ShipperName</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@order.Note</td>
                    <td>@order.CreateDate</td>
                    <td>
                        <a href="@Url.Action("AdminOrderDetail","Admin", new { OrderId = order.OrderId})" class="btn btn btn-outline-primary">Chi tiết đơn hàng</a>
                    </td>
                    @*@if (order.ShipperId == Model.customer.UserId)
                {
                    <td>
                        <form action="@Url.Action("CancelGet","Shipper")" method="post">
                            <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                            <button type="submit" class="btn btn-outline-danger">Hủy nhận đơn hàng</button>
                        </form>
                        <form action="@Url.Action("CompleteOrder","Shipper")" method="post">
                            <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                            <button type="submit" class="btn btn-outline-primary">Hoàn thành đơn hàng</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form action="@Url.Action("GetOrder","Shipper")" method="post">
                            <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                            <button type="submit" class="btn btn-outline-info">Nhận vận chuyển</button>
                        </form>
                    </td>
                }*@
                    
                     <td>
                        @if(order.StateId ==10)
                         {
                             <form action="@Url.Action("CancelOrder","Admin")" method="post">
                                <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                                <button type="submit" class="btn btn-outline-info">Khôi phục đơn hàng</button>
                            </form>
                         }
                         @if(order.StateId < 4)
                            {
                            <form action="@Url.Action("CancelOrder","Admin")" method="post">
                                <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                                <button type="submit" class="btn btn-outline-danger">Hủy đơn hàng</button>
                            </form>
                            }
                         
                         @if(order.StateId != 5)
                         {
                             <form action="@Url.Action("CompleteOrder","Admin")" method="post">
                            <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                            <button type="submit" class="btn btn-outline-primary">Đóng đơn hàng</button>
                        </form>
                         }
                        
                    </td>
                </tr>
            }
        </table>
        <div class="col-12 col-md-4"></div>

    </div>
</div>


