@model PBL3Store.UI.Models.AdminUserDetailModel
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    var payment = ViewBag.PaymentMethod as List<PBL3Store.Domain.Payment>;
}

<h2>UserDetail</h2>

<table class="table table-bordered" style="font-weight:700">
    <tr>
        <td>Mã User</td>
        <td>UserName</td>
        <td>Email</td>
        <td>Role</td>
        <td>Địa chỉ thường trú</td>
        <td>Trạng thái</td>
        <td>Số điện thoại</td>
        <td>Quê quán</td>
        <td>CMND</td>
        <td>Mã Shipper</td>
        <td></td>
    </tr>
    <tr>
        <td>@Model.user.UserId</td>
        <td>@Model.user.UserName</td>
        <td>@Model.user.Email</td>
        <td>@Model.user.Role.RoleName</td>
        <td>@Model.user.Address</td>
        <td>@Model.user.State.StateName</td>
        <td>@Model.user.Phone</td>
        @if (Model.user.RoleId == 2)
        {
            <td></td>
            <td></td>
            <td></td>
        }
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form action="@Url.Action("BlockUser","Admin")" method="post">
                <input type="hidden" name="UserId" id="UserId" value="@Model.user.UserId" />

                @if (Model.user.StateId == 8)
                {
                    <button class="btn btn-outline-danger">Lock</button>
                }
                else
                {
                    <button class="btn btn-outline-primary">Unlock</button>
                }
            </form>
            <form>
                <input type="hidden" name="UserId" id="UserId" value="@Model.user.UserId" />
                <button class="btn btn-outline-warning">Phân quyền admin</button>
            </form>
        </td>
    </tr>
</table>
@if (Model.user.RoleId == 2)
{
    <h2>Danh sách đơn hàng vận chuyển</h2>
    int j = 0;
    <div class="row">
        <div class="col-12">
            <table class="border table-bordered col-md-8">
                <tr>
                    <td>STT</td>
                    <td>Mã đơn hàng</td>
                    <td>Mã khách hàng</td>
                    <td>Phương thức thanh toán</td>
                    <td>Trạng thái</td>
                    <td>Ghi chú</td>
                    <td>Ngày đặt hàng</td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var order in Model.Orders)
                {
                    j++;
                    <tr>
                        <td>@j</td>
                        <td>@order.OrderId</td>
                        <td><a href="@Url.Action("BookView","Admin", new { id= order.UserId})" style="text-decoration:none; color: #000000">@order.UserId</a></td>
                        <td>
                            @for (int i = 0; i < payment.Count; i++)
                            {
                                if (payment[i].PaymentId == order.PaymentId)
                                {
                                    @payment[i].PaymentName;
                                }
                            }
                        </td>
                        <td>@order.State.StateName</td>
                        <td>@order.Note</td>
                        <td>@order.CreateDate</td>
                        <td>
                            <a href="@Url.Action("ShipperOrderDetail","Shipper", new { OrderId = order.OrderId})" class="btn btn btn-outline-primary">Chi tiết đơn hàng</a>
                        </td>
                        @*@if (order.ShipperId == Model.customer.UserId)
                            {
                                <td>
                                    <form action="@Url.Action("CancelGet","Shipper")" method="post">
                                        <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-outline-danger">Hủy nhận đơn hàng</button>
                                    </form>
                                    <form action="@Url.Action("CompleteOrder","Shipper")" method="post">
                                        <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-outline-primary">Hoàn thành đơn hàng</button>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <form action="@Url.Action("GetOrder","Shipper")" method="post">
                                        <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-outline-info">Nhận vận chuyển</button>
                                    </form>
                                </td>
                            }*@
                    </tr>
                }
            </table>
            <div class="col-12 col-md-4"></div>

        </div>
    </div>
}
else
{
    <h2>Danh sách đơn hàng đã đặt</h2>
    int k = 0;
    <div class="row">
        <div class="col-12">
            <table class="border table-bordered col-md-8">
                <tr>
                    <td>STT</td>
                    <td>Mã đơn hàng</td>
                    <td>Mã khách hàng</td>
                    <td>Phương thức thanh toán</td>
                    <td>Trạng thái</td>
                    <td>Shipper</td>
                    <td>Ghi chú</td>
                    <td>Ngày đặt hàng</td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var order in Model.Orders)
                {
                    k++;
                    <tr>
                        <td>@k</td>
                        <td>@order.OrderId</td>
                        <td><a href="@Url.Action("BookView","Admin", new { id= order.UserId})" style="text-decoration:none; color: #000000">@order.UserId</a></td>
                        <td>
                            @for (int i = 0; i < payment.Count; i++)
                            {
                                if (payment[i].PaymentId == order.PaymentId)
                                {
                                    @payment[i].PaymentName;
                                }
                            }
                        </td>
                        <td>@order.State.StateName</td>
                        @if (order.ShipperId != null)
                        {
                            <td>@order.Shipper.ShipperName</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@order.Note</td>
                        <td>@order.CreateDate</td>
                        <td>
                            <a href="@Url.Action("ShipperOrderDetail","Shipper", new { OrderId = order.OrderId})" class="btn btn btn-outline-primary">Chi tiết đơn hàng</a>
                        </td>
                        @*@if (order.ShipperId == Model.customer.UserId)
                            {
                                <td>
                                    <form action="@Url.Action("CancelGet","Shipper")" method="post">
                                        <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-outline-danger">Hủy nhận đơn hàng</button>
                                    </form>
                                    <form action="@Url.Action("CompleteOrder","Shipper")" method="post">
                                        <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-outline-primary">Hoàn thành đơn hàng</button>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <form action="@Url.Action("GetOrder","Shipper")" method="post">
                                        <input name="OrderId" id="OrderId" type="hidden" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-outline-info">Nhận vận chuyển</button>
                                    </form>
                                </td>
                            }*@
                    </tr>
                }
            </table>
            <div class="col-12 col-md-4"></div>

        </div>
    </div>
}   