@model PBL3Store.Domain.Cart.Cart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/LayoutMain.cshtml";
}
@{ 
    int i = 0;
}
<h2>Giỏ hàng</h2>
@if (Model.lines.Count() <= 0)
{
    <img src="~/Content/img/nullcart.png" alt="cart-null" class="img-fluid" style="padding-left: 30%" />
    <h4 style="padding-left: 25%">Giỏ hàng của bạn rỗng vui lòng chọn mua vài món hàng và trở lại</h4>
    <a href="@Url.Action("HomePage","Home")" class="btn btn-warning" style="font-size: 2em; margin-left:35%">Tiếp tục mua sắm</a>
}
else
{
    <div class="row">
        <div class="col-12 col-md-12">
            <table class="table">
                <tr class="table-bordered">
                    <td><input type="checkbox"/></td>
                    <td>Tên Sách</td>
                    <td>Hình ảnh</td>
                    <td>Đơn giá</td>
                    <td>Số lượng</td>
                    <td>Tác giả</td>
                    <td>Thành tiền</td>
                    <td></td>
                </tr>
                @foreach (var line in Model.lines)
                {
                    <tr class="border">
                        <td><input type="checkbox" /></td>
                        <td><img src="@line.Book.BookImage" alt="@line.Book.BookName" class="img-fluid" width="120"/></td>
                        <td>@line.Book.BookName</td>
                        <td>@line.Book.Price</td>
                        <td>@line.Book.Author</td>
                        <td>
                            @using (Html.BeginForm("UpdateToCart", "Cart", FormMethod.Post, new { }))
                            {
                                <input type="hidden" value="@line.Book.BookId" name="BookId" />
                                <input type="number" value="@line.Quantity" class="form-control" name="Quantity" />
                            }
                        </td>
                        <td>@(line.Book.Price * line.Quantity)</td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="@line.Book.BookId" />
                                <button type="submit" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">

        </div>
        <div class="col-12 col-md-6">
            <p>Tổng thanh toán: @Model.Caculator()</p>
        </div>
        <div class="col-12 col-md-2">
            <a href="@Url.Action("Checkout","Cart")" class="btn btn-warning">Mua Hàng</a>
        </div>
    </div>
}


