@model PBL3Store.Domain.Book

<div class="card mb-4 shadow-sm card_hover book_summary">
    <div class="card-body" style="display:flex;flex-direction : column; justify-content:space-evenly">
        <a href="@Url.Action("BookDetail", "Home", new { BookId = Model.BookId})" class="nav-link">
            <img src="@Model.BookImage" class="img-book" style="border-radius: 3px"/>
            <p class="card-title pricing-card-title name_book">@Model.BookName</p>
        </a>
        <div class="price_book" style="display:flex">
            <h4 class="text-danger">@Model.Price</h4><h4 class="text-danger">đ</h4>
            <div>
                <p>@((double)(Model.Price)*1.15)đ</p>
                <h6>-15%</h6>
            </div>
        </div>
    </div>
</div>

