@model PBL3Store.Domain.Book
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Layout/LayoutMain.cshtml";
}

<div class="row">
    <div class="col-12 col-md-4">
        <img src="@Model.BookImage " alt="Hình ảnh cho @Model.BookName" class="img-fluid" width="450" />
    </div>
    <div class="col-12 col-md-8">
        <h3>@Model.BookName</h3>
        <p class="text-danger"><span>Tác giả:   </span>@Model.Author</p>
        <div style="display:flex">
            <h3 class="text-danger">@Model.Price</h3><h3 class="text-danger">đ</h3>
        </div>
        <div>
            <span>Tiết kiệm:  </span> <p class="text-danger" style="display:inline-block">@((double)(Model.Price)*0.15)đ(15%)</p>
            <br />
            <span>Giá thị trường:   @((double)(Model.Price)*1.15)đ</span>
            <p></p>
        </div>
        <p class="text-muted">Tình trạng <span class="text-danger">Còn hàng</span></p>
        <span>Tags:  @Model.Category.CategoryName</span>
        <div>
            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @class = "frmAddToCart" }))
            {
                <input name="BookId" id="BookId" value="@Model.BookId" type="hidden" />
                <h3 style="display:inline-block">Số Lượng:     </h3>
                <input name="Quantity" id="Quantity" value="1" type="number" style="width: 150px; height:40px; color:#ff5722;text-align:center; margin-top: 30px; margin-bottom: 30px;" />
                <button class="btn btn-outline-primary" type="submit" style="display:block; padding:15px 25px; font-size:20px;">Thêm vào giỏ hàng</button>
            }
        </div>
        <div>
            <b>Thông tin và khuyến mãi</b><br />
            <button class="btn-primary">Ưu đãi dành cho HSSV/Giáo Viên</button>
            <p>Đổi trả trong vòng 7 ngày</p>
            <p>Freeship toàn quốc từ 250.000đ</p>
        </div>
        <div style="text-align:justify">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>


