<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookieStore</title>
    <link rel="stylesheet" href="~/Content/StyleLayoutMain.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        /*add to card in each product*/
        .product_item {
            position: relative;
        }

        .product_add {
            opacity: 0;
            visibility: hidden;
            font-size: 1.3em;
            color: #e53637;
            font-weight: 700;
            position: absolute;
            bottom: 25%;
            left: 24%;
            transition: all 0.3s ease-out;
        }

            .product_add:hover {
                text-decoration: none;
            }

        .product_item:hover .product_add {
            bottom: 16%;
            left: 24%;
            opacity: 1;
            visibility: visible;
        }
    </style>
</head>
<body>
    <div class="container-nav">
        <div class="grid">
            <div class="Login_Panel">
                <ul>
                    <li><a href="@Url.Action("UserRecord","CustomerInfo")"><i class="fas fa-info-circle"></i>Thông tin các nhân</a></li>
                    <li><a href="#"><i class="far fa-newspaper"></i> Tin tức</a></li>
                    <li><a href="@Url.Action("RegisterShipper","Home")"><i class="fab fa-cloudscale"></i> Đăng kí shipper</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="fas fa-gift"></i> Ưu đãi & tiện ích</a></li>
                    <li><a href="@Url.Action("OrderManage","Home")"><i class="fas fa-money-check-alt"></i> Kiểm tra đơn hàng</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="btn" href="@Url.Action("RedirectUI", "Home")">
                                Hi, @User.Identity.Name
                            </a>
                        </li>
                        <li>
                            <form action="@Url.Action("Logout", "Account", FormMethod.Post)" method="post">
                                <button type="submit" class="btn">
                                    Logout
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login","Account")"><i class="fas fa-sign-in-alt"></i>Đăng nhập</a></li>
                        <li><a href="@Url.Action("Register","Account")"><i class="fas fa-user-check"></i> Đăng kí</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="container-1">
        <div class="grid">
            <div class="Seach_panel">
                <a href="@Url.Action("HomePage","Home")"><img src="~/Content/img/logo - edit.png" class="logo" alt="Logo" width="250"></a>
                <form class="seach_input" action="@Url.Action("Seach","Home")" method="get">
                    <input type="text" placeholder="Bạn cần tìm gì" name="textSeach" id="textSeach">
                    <button class="btn-seach" type="submit"><i class="fas fa-search"></i></button>
                </form>

                <a class="phone_contact"><i class="fas fa-headset orange phone_contact"></i></a>
                <div>
                    <b class="orange">0933109xxx</b>
                    <p style="font-size: 1.5em;">Hot line</p>
                </div>
                <div class="dropdown cart-summary">
                    <!--ở đây renderAction để hiển thị html ở đây còn cho class để nhận sự kiện js ajax reload-->
                    @{
                        Html.RenderAction("CartSummary", "Cart");// gọi một partial view có gọi đến action trả về void nên cần bỏ vào {}
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container-category">
        <div class="grid">
            <div class="category_bar">
                <div class="category-box">
                    <i class="fas fa-bars" style="font-size: 1.2em;"></i>
                    <b>Danh mục sản phẩm</b>
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="@Url.Action("HomePage","Home", new {page=1, pageSize=12, categoriId= 1})">
                                    <i class="fas fa-child"></i>
                                    <span>Thiếu nhi</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HomePage","Home", new { categoriId= 2})">
                                    <i class="fas fa-pen-alt"></i>
                                    <span>Văn học</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HomePage","Home", new { categoriId= 3})">
                                    <i class="fas fa-address-book"></i>
                                    <span>Tự truyện</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HomePage","Home", new { categoriId= 4})">
                                    <i class="fas fa-heart"></i>
                                    <span>Ngôn tình</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HomePage","Home", new { categoriId= 5})">
                                    <i class="fas fa-business-time"></i>
                                    <span>Kỹ năng-Kinh doanh</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HomePage","Home", new { categoriId= 6})">
                                    <i class="fas fa-search"></i>
                                    <span>Trinh thám</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <i class="fas fa-caret-down"></i>
                </div>
                <a href="#"><i class="fas fa-bookmark"></i> Sách mới</a>
                <a href="#"><i class="fas fa-medal"></i> Sách bán chạy</a>
                <a href="#"><i class="fab fa-hotjar"></i> Chương trình khuyến mãi</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            <div style="display:flex; justify-content: space-between;">

                <div class="slide-wrap">
                    <img src="~/Content/img/bf468e73-51e3-4c9b-8034-a2643ffe8196.jpg" alt="tab1" class="slide ">
                    <!-- <img src="/img/6ff85665-63b4-4299-8202-fabbbc0397e5.jpg" alt="tab2" class= "slide">
                    <img src="/img/bf468e73-51e3-4c9b-8034-a2643ffe8196.jpg" alt="tab3" class= "slide">
                    <img src="/img/c9225a84-d82a-42a9-9f23-4951b45e235a.jpg" alt="tab4" class= "slide">
                    <img src="/img/e9e561ee-1b22-4cf9-992d-339f0d1c11ee.jpg" alt="tab5" class= "slide"> -->
                </div>
            </div>
        </div>
    </div>
    @if (TempData["msg"] != null)
    {
        <div class="row">
            <div class="col-12">
                <p class="alert alert-info">
                    @TempData["msg"]
                </p>
            </div>
        </div>
    }
    @if (TempData["error"] != null)
    {
        <div class="row">
            <div class="col-12">
                <p class="alert alert-danger">
                    @TempData["error"]
                </p>
            </div>
        </div>
    }
    <div style="padding-top: 3em;"></div>
    <div class="container-body">
        <div class="grid">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="box">
        <div class="grid">
            <div class="receive-email">
                <div>
                    <i class="far fa-envelope"></i>
                    <h3>ĐĂNG KÍ NHẬN BẢN TIN</h3>
                </div>
                <form>
                    <input placeholder="Nhập địa chỉ email của bạn" />
                    <button>Đăng kí</button>
                </form>
            </div>
            <div class="row" style="padding-top:50px;">
                <div class="col-12 col-md-4">
                    <div>
                        <img src="~/Content/img/logo - edit.png" alt="logo" width="200">
                        <p>Công Ty Cổ Phần Phát Hành Sách Bookie Store - TP Đà Nẵng, Việt Nam</p>
                        <p>
                            Bookie Store nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua
                            và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.
                        </p>
                        <img src="~/Content/img/logo-bo-cong-thuong-da-thong-bao.png" alt="bo cong thuong da thong bao" width="150">
                    </div>
                    <div>
                        <ul class="icon-contact">
                            <li><i class="fab fa-facebook-square"></i></li>
                            <li><i class="fab fa-instagram-square"></i></li>
                            <li><i class="fab fa-youtube-square"></i></li>
                            <li><i class="fab fa-tumblr-square"></i></li>
                            <li><i class="fab fa-twitter-square"></i></li>
                            <li><i class="fab fa-pinterest-square"></i></li>
                        </ul>
                    </div>
                    <div>
                        <ul style="display: flex; text-align: left;">
                            <li style="padding-right: 20px;">
                                <img src="~/Content/img/appstore.png" alt="app-store" width="110">
                            </li>
                            <li>
                                <img src="~/Content/img/android.png" alt="google-play" width="110">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="services-account">
                        <div>
                            <ul>
                                <li><b>DỊCH VỤ</b></li>
                                <li><a href="#">Điều khoản hoạt động</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Giới thiệu Bookie</a></li>
                                <li><a href="#">Hệ thống nhà sách</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li><b>HỖ TRỢ</b></li>
                                <li><a href="#">Chính sách đổi - trả - hoàn tiền</a></li>
                                <li><a href="#">Chính sách khách sỉ</a></li>
                                <li><a href="#">Phương thức vận chuyển</a></li>
                                <li><a href="#">Phương thức thanh toán</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li><b>TÀI KHOẢN CỦA TÔI</b></li>
                                <li><a href="#">Đăng nhập/Tạo mới tài khoản</a></li>
                                <li><a href="#">Thay đổi địa chỉ khách hàng</a></li>
                                <li><a href="#">Lịch sử mua hàng</a></li>
                                <li><a href="#">Chi tiết tài khoản</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li><b>LIÊN HỆ</b></li>
                            <li>
                                <ul style="display:flex; justify-content:space-between;">
                                    <li><i class="fas fa-map-marker-alt"></i>   TP Đà Nẵng</li>
                                    <li><i class="fas fa-envelope"></i>   info@bookie.com</li>
                                    <li><i class="fas fa-phone-alt"></i>   0933109xxx</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul style="display:flex; flex-wrap: wrap;" class="PR">
                            <li><img src="~/Content/img/vnpost.png" alt="" style="padding-right: 30px;"></li>
                            <li><img src="~/Content/img/momopay.png" alt="" style="padding-right: 30px;"></li>
                            <li><img src="~/Content/img/ahamove_logo.png" alt="" style="padding-right: 30px;"></li>
                            <li><img src="~/Content/img/logo_moca_120.jpg" alt="" style="padding-right: 30px;"></li>
                            <li><img src="~/Content/img/icon_giao_hang_nhanh.png" alt="" style="padding-right: 30px;"></li>
                            <li><img src="~/Content/img/icon_snappy.png" alt="" style="padding-right: 30px;"></li>
                            <li><img src="~/Content/img/vnpay_logo.png" alt="" style="padding-right: 30px;"></li>
                            <li><img src="~/Content/img/ZaloPay-logo-130x83.png" alt="" style="padding-right: 30px;"></li>
                            <li><img src="~/Content/img/airpay_logo.png" alt="" style="padding-right: 30px;"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/CartAjax.js"></script>
    <script src="~/Scripts/Update.js"></script>
    @RenderSection("js", false)

</body>
</html>

<script src="https://kit.fontawesome.com/bc35e4f263.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>