@model PBL3Store.UI.Models.AccountChangePassModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Layout/CustomerInfo.cshtml";
}

<div style="padding-bottom: 1em; border-bottom: .0625rem solid #efefef;">
    <h4>Đổi Mật Khẩu</h4>
    <h6>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</h6>
</div>
<div style="padding-top: 10%;">
    <div>
        <form action="/Account/ChangePassword" method="post" class="form-info">
            @Html.ValidationSummary(true);
            <div class="line-form">
                <label>Mật Khẩu Cũ</label>
<<<<<<< HEAD
                @Html.TextBoxFor(x=>x.OldPassword, new { @class="form-control", style="width: 40%", type="password"})
=======
                @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", style = "width: 40%", type = "password" })
>>>>>>> develop
                <p class="text-danger">
                    @Html.ValidationMessageFor(x => x.OldPassword)
                </p>
            </div>
            <div class="line-form">
                <label>Mật Khẩu Mới</label>
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", style = "width: 40%", type = "password" })
                <p class="text-danger">
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </p>
            </div>
            <div class="line-form">
                <label>Nhập Lại Mật Khẩu</label>
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", style = "width: 40%", type = "password" })
                <p class="text-danger">
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </p>
            </div>
            <div class="line-form" style="padding-left: 20%;">
                <button type="submit" class="btn btn-outline-info" style="width:30%;">Lưu</button>
            </div>
        </form>
    </div>
</div>


@section js{
    <script src="~/Scripts/jquery.validate.min.js"></script>
}