@model PBL3Store.UI.Models.AccountLoginModel
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/RegisterStyle.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<div>
    <div>
        <h1>
            Login
        </h1>
    </div>
    <div class="register">
        <div class="left-register">
            <h2>OFFICIAL</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="form-register">
            <div style="padding-top:70px;">
                <div>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { }))
                    {
                        <div>
                            @Html.ValidationSummary(true)
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.UserName, new
                                {
                                    @class = "form-control",
                               placeholder = "User Name"
                                })
                                <p class="text-danger">
                                    @Html.ValidationMessageFor(x => x.UserName)
                                </p>
                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password", placeholder = "Password" })
                                <p class="text-danger">
                                    @Html.ValidationMessageFor(x => x.Password)
                                </p>
                            </div>
                            <button class="btn btn-outline-primary">Đăng Nhập</button>
                        </div>
                    }
                </div>
                <div>
                    <p>Fast Signup With Your Favourite Social Profile</p>
                </div>
                <div>
                    <div class="icon-contact">
                        <div class="face"><a href="#"><i class="fab fa-facebook-f" style="color: #FFF;"></i></a></div>
                        <div class="yt"><a href="#"><i class="fab fa-youtube" style="color: #FFF;"></i></a></div>
                        <div class="tw"><a href="#"><i class="fab fa-twitter" style="color: #FFF;"></i></a></div>
                        <div class="gg"><a href="#"><i class="fab fa-google-plus-g" style="color: #FFF;"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>© 2017 Official Signup Form. All Rights Reserved | Design by <a href="#">W3School</a></p>
    </footer>
</div>

@section js{
    <script src="~/Scripts/jquery.validate.min.js"></script>
}